{% load dvfragments %}
<!doctype html>
<html>
    <head>
        <title>View 1</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>
        <h1>Hello world from view 1</h1>
        {% fragment if-frag %}
        {% if condition %}
        <p>Condition is true</p>
        {% else %}
        <p>Condition is false</p>
        {% endif %}
        {{ numeric_variable }}
        {% endfragment %}
    </body>
</html>
